.App {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo {
  min-width: 456px;
  padding-bottom: 25px;
  pointer-events: none;
}