.App {
  min-height: 100vh;
}

.appcontainer {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo {
  min-width: 250px;
  pointer-events: none;
  padding: 20px;
}